@font-face {
  font-family: "Google Sans";
  src: url("./GoogleSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Google Sans", sans-serif;
}
